<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field_hidden">
    <%= f.label :sender_id %><br>
    <%= f.number_field :sender_id %>
  </div>
  <div class="field_hidden">
    <%= f.label :recipient_id %><br>
    <%= f.number_field :recipient_id,value:params[:recipient] %>
  </div>
  <div class="field">
    <%= f.text_area :message,placeholder:"Enter Your Message here!" %>
  </div>
  <div class="actions">
    <%= f.submit 'Send Message',class:'offer_button' %>
  </div>
<% end %>
