<h1><%= @user.username %>'s Page </h1>
<% if current_user == @user %>
  <%= link_to 'New Listing', new_item_path %> <br>
  <%= link_to 'Edit Account',edit_user_registration_path%>
<%end%>
<h2>Dogs posted by <%=@user.username%></h2>
<div id='listing_div'
  <% @user.items.each do |dog| %>
  <%= link_to '', dog %>

    <%= render ('items/listings'),:dog=>dog %>
    <br>
  <% end %>
</div>



<% if current_user == @user %>
<div id='comments'>
  <h2>All comments on your dogs in the last 24 hours</h2>
  <% @comments.each do |comment| %>
  <% if comment.item == nil %>
    <div class='comment'><%= comment.content %>
    (item was deleted)
  </div>
  <%else%>
  <div class='comment'>
    <%= comment.content %>
    <%= link_to 'view page', comment.item %>
  </div>
  <div class='comment_time'>
    <% time_diffrence_comment=TimeDifference.between(comment.created_at, Time.current).in_general %>

    <% if TimeDifference.between(comment.created_at,  Time.current).in_seconds<60 %>
        <% time_diffrence_comment=TimeDifference.between(comment.created_at, Time.current).in_seconds %>
        Created About <%=time_diffrence_comment.to_i%> seconds ago

    <% elsif TimeDifference.between(comment.created_at,  Time.current).in_minutes<60 %>
        <% time_diffrence_comment=TimeDifference.between(comment.created_at, Time.current).in_minutes %>
         Created About <%=time_diffrence_comment.to_i%> minutes ago

    <% elsif TimeDifference.between(comment.created_at,  Time.current).in_hours<24 %>
        <% time_diffrence_comment=TimeDifference.between(comment.created_at, Time.current).in_hours %>
         Created About <%=time_diffrence_comment.to_i%> hours ago

    <% elsif TimeDifference.between(comment.created_at,  Time.current).in_days<30 %>
        <% time_diffrence_comment=TimeDifference.between(comment.created_at, Time.current).in_days %>
         Created About <%=time_diffrence_comment.to_i%> days ago

    <% elsif TimeDifference.between(comment.created_at,  Time.current).in_months<12 %>
        <% time_diffrence_comment=TimeDifference.between(comment.created_at, Time.current).in_months %>
         Created About <%=time_diffrence_comment.to_i%> months ago

    <% elsif TimeDifference.between(comment.created_at,  Time.current).in_months<12 %>
        <% time_diffrence_comment=TimeDifference.between(comment.created_at, Time.current).in_years%>
         Created About <%=time_diffrence_comment.to_i%> years ago
    <%end%>
  </div>
  <%end%>
    <br>
  <% end %>
</div>


<%end%>

<div id='comments'>
  <h2>Comments by <%=@user.username%></h2>
  <% @user.comments.each do |comment| %>
  <% if comment.item == nil %>
    <div class='comment'><%= comment.content %>
    (item was deleted)
  </div>
  <%else%>
  <div class='comment'>
    <%= comment.content %>
    <%= link_to 'view page', comment.item %>
  </div>
  <%end%>
    <br>
  <% end %>
</div>


<% if user_signed_in? %>
  <%= link_to "Send #{@user.username} an email","javascript:;",id:"email_link"%>
  <div id='email'>
    <%= form_tag(email_user_path, method: "get") do %>
      <%= label_tag :message, "Email for #{@user.username}(will include your account name in message)" %>
      <br>
      <%= text_area_tag(:message,nil,:placeholder => 'Add Message') %>
      <%= hidden_field_tag :to_email , @user.email %>
      <%= hidden_field_tag :to , @user.username %>
      <%= hidden_field_tag :from , current_user.username %>
      <%= hidden_field_tag :from_id , current_user.id %>
      <br>
      <%= submit_tag("Send") %>
    <% end %>
   </div>
  <%else%>
    <h2><%= link_to('Login', new_user_session_path)%> to send <%= @user.username %> a message </h2>
  <%end%>
