<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name,'Name' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :breed %><br>
    <%= f.text_field :breed %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :age,"Age (months)" %><br>
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :price,'Price (USD)' %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :price,'Check if its a Adoption (price will be 0)' %><br>
    <%= f.check_box :price,{},0,false %>
  </div>
  <div class="field">
    <%= f.label :des,'Description' %><br>
    <%= f.text_area :des %>
  </div>
  <div class="field">
    <%= f.label :zip,"Zip Code of Dogs Location" %><br>
    <%= f.text_field :zip,:value => current_user.zip %>
  </div>
  <%= f.hidden_field :id, :value => params[:id] %>
<h3>Add images on edit page</h3>
  <div class="actions">
    <%= f.submit 'List Item' %>
  </div>

<% end %>
