<p id="notice"><%= notice %></p>



<h1>Currently Listed Dogs</h1>






<div id='page_info'>
  <div class="apple_pagination">
      <div class="page_info">
        <%= page_entries_info @posts %>
        <div class="dropdown">
          <button class="dropbtn">Sort By</button>
          <div class="dropdown-content">
            <%= link_to 'Newist',root_path%>
            <%= link_to 'Price High to Low',root_path(sort:'price_asc')%>
            <%= link_to 'Price Low to High',root_path(sort:'price_desc')%>
          </div>
        </div>
      </div>
      <%= will_paginate @posts, :container => false %>
    </div>
</div>

<div id='listing_div'

  <%= link_to '' %>
  <% @items.each do |dog| %>
    <%= render 'listings',:dog=>dog %>
<%end%>
</div>
<div id='page_info'>
  <div class="apple_pagination">
      <div class="page_info">
        <%= page_entries_info @posts %>
      </div>
      <%= will_paginate @posts, :container => false %>
    </div>
</div>




$$$$$   WORKS BUT PAGINATION STILL BROKEN :( SORTS BY DISTANCE! $$$$$$$$$$$$
