<!DOCTYPE html>
<html>
<head>
  <title>Dog-Deal</title>

  <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id='header'>
    <%= link_to (image_tag("dogdeal.png",:id=>'logo')),root_path  %>

    <div id='login'>
      <% if user_signed_in? %>
      <div id='username'>Hello: <%= link_to current_user.username, "/users/#{current_user.id}"%></div> 	&nbsp; 	&nbsp;
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    <% else %>
      <%= link_to('Login', new_user_session_path)  %>
    <% end %>
  </div>

  <%= form_tag(root_path, method: "get") do %>
    <%= text_field_tag(:search,nil,:placeholder => 'Search for a breed!') %>
  <% end %>
<div id='user_search_header'>
  <%= form_tag(username_search_path, method: "get") do %>
    <%= text_field_tag(:search,nil,:placeholder => 'Search for a User!') %>
  <% end %>
</div>
</div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</body>
</html>
